<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KFUPM-Zoo</title>
 

  <script src="/javascript/feed.js"></script> 
</head>
<body>
  <%- include('partials/header') -%>
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="flex justify-center">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center w-1/2 m-8">
        <%= el %>
      </div>
      <% }) %> <% } %> 
    </div>

  <div class="">
    <ul class="inline-flex items-center justify-center w-full p-5 " > 

      <li id="fox-container" class="m-2">     
        <a class="border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300" href="/feed?type=fox&page=0&sort=desc">
          <i class="fa-solid fa-paw block text-center text-3xl"></i>
          <span class="text-center mt-2 font-semibold text-lg" >Fox</span>
        </a>
      </li>

      <li id="oria-container" class="m-2">
        <a class="border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 cursor-not-allowed" href="/feed?type=oria&page=0&sort=desc" onclick="javascript:return false;">
          <i class="fa-solid fa-children block text-center text-3xl"></i>
          <span class="text-center mt-2 font-semibold text-lg" >Oria</span>
          <span class="text-gray-500 text-sm block p-2">(locked due to laws)</span>
        </a>  
      </li>
      <li id="duck-container" class="m-2"> 
        <a class="border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 " href="/feed?type=duck&page=0&sort=desc">
          <i class="fa-solid fa-feather block text-center text-3xl"></i>
          <span class="text-center mt-2 font-semibold text-lg ">Duck</a>
        </a>  
      </li>
      <li id="bird-container" class="m-2">
        <a class="border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300" href="/feed?type=bird&page=0&sort=desc">
          <i class="fa-solid fa-dove block text-center text-3xl"></i>
          <span class = "text-center mt-2 font-semibold text-lg" >Bird</a>
        </a>
      </li>
      <li id="all-container" class="m-2">
        <a class="border w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 " href="/feed?type=all&page=0&sort=desc">
          <i class="fa-regular fa-map block text-center text-3xl"></i>
          <span class="text-center mt-2 font-semibold text-lg">All</a>
        </a>   
      </li>
                
    </ul>
  </div>
  <div class="flex justify-center">
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">filter by :<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
  </div>
  
<!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" id="desc-createdat-url" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">created at: desc</a>
          </li>
          <li>
            <a href="#" id="asce-createdat-url" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">created at : asce</a>
          </li>
          <li>
            <a href="#" id="asce-score-url" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Score : asce</a>
          </li>
          <li>
            <a href="#" id="desc-score-url" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Score : desc</a>
          </li>
        </ul>
    </div>



  <div class="flex justify-center border-emerald-500 border mt-12 ">

      <ul class="flex justify-between mt-5 flex-wrap flex-col w-1/3">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" mt-5 w-full m-12 border border-gray-400 px-8 pt-4 pb-8 rounded bg-slate-50">
            <div class="flex justify-between mb-8">
              <span class=""><%= posts[i].title%></span>
              <span class="date-picture"></span>
              <span class=""><%= posts[i].score%></span>
            </div>
            
            <a class="text-9xl " href="/post/<%= posts[i]._id%>">
              <img class="" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>

  </div>  
  <span id="total-pages" class="hidden"> <%= totalPages %></span>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  <div>
   <span>this is pagination</span>
    <ul id="pagination" class="flex justify-around">
    </ul>
</div>


</body>
</html>
